<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/base.css">
    <script charset="UTF-8" src="/static/scripts/jquery-2.2.4.js"></script>
    <script charset="UTF-8" src="/static/scripts/index.js"></script>
</head>
<body>
<!-- 登录对话框 -->
<div id="login">
    <div id="login-show">
        <div id="login-top">
            <span id="login-close">×</span>
        </div>
        <div id="login-main">
            <span id="login-title">账号密码登录</span>
            <form id="login-form" action="">
                <ul>
                    <li>
                        <input class="login-input" type="text" name="username" placeholder="支持用户账号/邮箱/手机号登陆">
                    </li>
                    <li>
                        <input class="login-input" type="text" name="password" placeholder="密码">
                    </li>
                    <li>
                        <input class="login-input" type="button" value="登录">
                    </li>
                </ul>
            </form>
        </div>
        <div id="login-bottom">
            <a href="#" id="login-reg">注册新用户</a>
        </div>
    </div>
</div>
<!-- 主页面 -->
<div id="wrapper">
    <div id="header">
        <div id="header-logo">
            <a href="#">LOGO</a>
        </div>
        <div id="header-menu">
            <span id="signin">登录</span>
        </div>
    </div>
    <div id="content"></div>
    <div id="footer">
        <div id="footer-main">
            <p>
                <a href="#">关于我们</a>
                <span> | </span>
                <a href="#">联系我们</a>
                <span> | </span>
                <a href="#">服务条款</a>
                <span> | </span>
                <a href="#">隐私政策</a>
                <span> | </span>
                <a href="#">开放平台</a>
                <span> | </span>
                <a href="#">广告服务</a>
                <span> | </span>
                <a href="#">意见反馈</a>
                <span> | </span>
                <a href="#">客服中心</a>
                <span> | </span>
                <a href="#">版权所有</a>
            </p>
            <p>
                <span style="font-family:Arial;">Copyright 1970 - 2017 XXX. All Rights Reserved</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>